// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	color: #440777;
	background-color: #F5F5F5;
	padding-top: 1.42em;
}
